body {
  margin: 12px;
}

#hue-circle-container {
    margin: auto;
    width: 500px;
    height: 500px;
  }

.bar{
  margin: 50px;
  text-align: center;
}

#s-current-value{
  font-size: 150%;
}

#l-current-value{
  font-size: 150%;
}

input{
  margin: auto;
  width: 300px;
}

span{
  margin: 10px;
}